<div class="bg">
  <h2 class="text-center mx-auto pt-5 pb-3">ログイン</h2>
  <hr>

  <div class="container px-5">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="account-item">
      <div class="field my-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "pl-2" %>
      </div>
    </div>

    <div class="account-item">
      <div class="field my-5">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "pl-2" %>
      </div>
    </div>

    <div class="account-item">
      <div class="actions">
        <div class="mx-auto text-center">
            <%= f.submit "ログイン", class: "btn btn-primary col-6 my-4 py-3" %>
        </div>
      </div>
    </div>
    <% end %>

  <p class="text-right">新規登録する方は<%= render "devise/shared/links" %></p>
  <%= render "devise/shared/error_messages" %>
  </div>

</div>