<%= render 'layouts/header' %>

<div class="bg">
<div class="container">
<%= render 'layouts/loginstatus' %>

<div class="card border-secondary my-3 p-3">
	<ul class="ml-5">
		<li>名前：<%= @user.name %></li>
		<li>メールアドレス：<%= @user.email %></li>
		</ul>
	<div class="mx-auto text-center col-8">
		<%= link_to "編集する", edit_user_path ,class: "btn btn-warning btn-lg" %>
	</div><!-- mx-auto text-center col-8 -->
</div><!-- card border-secondary my-3 p-3 -->

<h2 class="index-h2"><%= @user.name %>さんの投稿したスムージー一覧</h2>
<%= render 'smoothies/smoothie_contents' %>


</div><!-- container -->
</div><!-- bg -->