<div class="card-wrapper">
<% @smoothies.each do |smoothie| %>
	<div class="card text-center">
	  <div class="card-body smoothie">
	  	<h5 class="card-title"><%= link_to smoothie.smoothie_name, smoothy_path(smoothie.id) %></h5>
	  	<% if smoothie.image.attached? %>
	  		<%= link_to smoothy_path(smoothie.id) do %>
	  		<%= image_tag smoothie.image %>
	  		<% end %>
	  	<% else %>
	  		<%= link_to smoothy_path(smoothie.id) do %>
	  		<%= image_tag 'no_image.jpg' %>
	  		<% end %>
	  	<% end %>
	  	<p class="card-text text-left my-2">
	  		<%= link_to smoothie.user.name, user_path(smoothie.user_id) %></p>
	  	<%= link_to "編集する", edit_smoothy_path(smoothie.id), class: "btn btn-primary my-2" %>
	  	<%= link_to "詳細をみる", smoothy_path(smoothie.id), class: "btn btn-primary" %>
	  	<p class="text-right card-date favorite">
	  		<!-- 日付 -->
	  		<%= smoothie.created_at.strftime('%Y.%m.%d')  %>
	  		<!-- お気に入り数 -->
	  	  <% if smoothie.favorited_by?(current_user) %>
	  		<%= image_tag 'heart_off.png', :size =>'14x14' %>
		    <%= smoothie.favorites.count %>
	  	  <% else %>
	  		<%= image_tag 'heart_on.png', :size =>'14x14' %>
	  		<%= smoothie.favorites.count %>
	  	  <% end %>
	  	</p>
	  	</div>
	</div>
<% end %>
</div><!-- card-wrapper -->