<%= render 'layouts/header' %>

<div class="bg">
<div class="container">
<%= render 'layouts/loginstatus' %>

<h2 class="index-h2">カスタマイズ</h2>

<div class="custom-wrapper">
  <ul class="nav nav-tabs my-3 mx-auto" role="tablist">
    <li class="tab-fruits" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">フルーツ</a>
    </li>
    <li class="tab-vegetables" role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">野菜</a>
    </li>
    <li class="tab-liquid" role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">水分</a>
    </li>
    <li class="tab-other" role="presentation">
      <a aria-controls="tab_d" data-toggle="tab" href="#tab_d" role="tab">その他</a>
    </li>
  </ul>
  <div class="tab-content">
    <!-- タブ：フルーツ -->
    <div class="tab-pane" id="tab_a" role="tabpanel">
      <%= render 'food_contents', foods:@fruit %>
    </div>

    <!-- タブ：野菜 -->
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <%= render 'food_contents', foods:@vegetable %>
    </div>

    <!-- タブ：水分 -->
    <div class="tab-pane" id="tab_c" role="tabpanel">
      <%= render 'food_contents', foods:@liquid %>
    </div>

    <!-- タブ：その他 -->
    <div class="tab-pane" id="tab_d" role="tabpanel">
      <%= render 'food_contents', foods:@other %>
    </div>

  </div><!-- tab-content -->

  <div class="nutrients_wrapper  clearfix">
    <div>
      <div>栄養成分チャート</div>
      <div><%= image_tag 'sample.png' %></div>
      <div>1杯あたりの栄養素</div>
      <ul>
        <li>たんぱく質：100mg</li>
        <li>カルシウム：100mg</li>
        <li>カリウム：100mg</li>
        <li>マグネシウム：100mg</li>
        <li>ビタミンC：100mg</li>
        <li>カロリー：100kcal</li>
      </ul>
      <div>1日当たりの目安摂取量（女性）</div>
      <ul>
        <li>たんぱく質：6,500mg</li>
        <li>カルシウム：650mg</li>
        <li>カリウム：2,000mg</li>
        <li>マグネシウム：280mg</li>
        <li>ビタミンC：100mg</li>
        <li>カロリー：2,000kcal</li>
      </ul>
    </div>

    <div class="text-center">
      <%= link_to "投稿する", new_smoothy_path, class: "btn btn-primary my-2" %>
    </div>

    </div><!-- nutrients_wrapper -->
</div><!-- custom-wrapper -->

























</div><!-- container -->
</div><!-- bg -->