<%= render 'layouts/header' %>

<div class="bg">
<div class="container">
<%= render 'layouts/loginstatus' %>
<h2 class="index-h2">カスタマイズ</h2>


<%= form_for(@smoothie) do |f| %>
<div class="custom-wrapper">
  <ul class="nav nav-tabs my-3 mx-auto" role="tablist">
    <li class="tab-fruits" role="presentation">
      <a class="tab_a active" aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">フルーツ</a>
    </li>
    <li class="tab-vegetables" role="presentation">
      <a class="tab_b" aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">野菜</a>
    </li>
    <!--
    <li class="tab-other" role="presentation">
      <a class="tab_c" aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">その他</a>
    </li>
     -->
  </ul>

  <div class="tab-content">
    <!-- タブ：フルーツ -->
    <div class="tab-pane tab-pane_a" id="tab_a" role="tabpanel">
      <%= render partial: 'food_contents', locals:{eiyou_lists: @eiyou_lists,
        foods: @fruits,
        num: 0 } %>
    </div>

    <!-- タブ：野菜 -->
    <div class="tab-pane tab-pane_b" id="tab_b" role="tabpanel">
      <%= render partial: 'food_contents', locals:{eiyou_lists: @eiyou_lists,
        foods: @vegetables,
        num: 1} %>
    </div>

    <!-- タブ：その他 -->
    <div class="tab-pane tab-pane_c" id="tab_c" role="tabpanel">
      <%= render partial: 'food_contents', locals:{eiyou_lists: @eiyou_lists,
        foods: @others, num: 2} %>
    </div>

  </div><!-- tab-content -->

  <% eiyou_sum_list = [
  @eiyou_lists.map{|eiyou_hash| eiyou_hash[:protein] }.sum,
  @eiyou_lists.map{|eiyou_hash| eiyou_hash[:calcium] }.sum,
  @eiyou_lists.map{|eiyou_hash| eiyou_hash[:kalium] }.sum,
  @eiyou_lists.map{|eiyou_hash| eiyou_hash[:magnesium] }.sum,
  @eiyou_lists.map{|eiyou_hash| eiyou_hash[:vitaminc] }.sum,
  @eiyou_lists.map{|eiyou_hash| eiyou_hash[:kcal] }.sum] %>

  <div class="nutrients_wrapper  clearfix">
    <div class="nutrients_contents">
      <!-- チャート描画キャンバス -->
      <div><canvas id="myChart" width="350px" height="350px"></canvas></div>

      <div>1杯あたりの栄養素</div>
      <ul>
        <!-- jsに各栄養素を渡す -->
        <input type="hidden" id="protein_sum" name="smoothie[commentaaa]">
        <input type="hidden" id="calcium_sum" name="smoothie[commentsssss]">
        <input type="hidden" id="kalium_sum" name="smoothiefffff[commentsssss]">
        <input type="hidden" id="magnesium_sum" name="smoothiefffff[commentsssss]">
        <input type="hidden" id="vitaminc_sum" name="smoothiefffff[commentsssfss]">
        <input type="hidden" id="kcal_sum" name="smoothiefffff[commentsssfss]">

        <!-- jsで各栄養素を表示させる -->
        <li>たんぱく質：<span class="protein_sum"><%= eiyou_sum_list[0] %></span>mg</li>
        <li>カルシウム：<span class="calcium_sum"><%= eiyou_sum_list[1] %></span>mg</li>
        <li>カリウム：<span class="kalium_sum"><%= eiyou_sum_list[2] %></span>mg</li>
        <li>マグネシウム：<span class="magnesium_sum"><%= eiyou_sum_list[3] %></span>mg</li>
        <li>ビタミンC：<span class="vitaminc_sum"><%= eiyou_sum_list[4] %></span>mg</li>
        <li>カロリー：<span class="kcal_sum"><%= eiyou_sum_list[5] %></span>kcal</li>
      </ul>

      <div>1日当たりの目安摂取量（女性）</div>
      <ul>
        <li>たんぱく質：6,500mg</li>
        <li>カルシウム：650mg</li>
        <li>カリウム：2,000mg</li>
        <li>マグネシウム：280mg</li>
        <li>ビタミンC：100mg</li>
        <li>カロリー：2,000kcal</li>
      </ul>

    </div> <!-- nutrients_contents -->
  </div><!-- nutrients_wrapper -->
</div><!-- custom-wrapper -->


<div class="smoothie_field mt-3 p-3">
  <div class="field mt-4">
    <label for="smoothie_name">スムージー名</label><br />
    <%= f.text_field :smoothie_name, autofocus: true, class: "pl-2", id: "smoothie_name" %>
  </div>

  <div class="field mt-4">
    <label for="comment">一言コメント</label><br />
    <%= f.text_area :comment, rows: 3, class: "pl-2", id: "comment" %>
  </div>

  <div class="field mt-4">
    <label>画像</label><br />
    <%= f.file_field :image, class: "pl-2" %>
  </div>

  <div class="actions">
    <div class="mx-auto text-center">
      <%= f.submit "投稿する", class: "btn btn-primary col-6 my-4 py-3" %>
    </div>
  </div>
</div><!-- field -->

<% end %>

</div><!-- container -->
</div><!-- bg -->

<%# binding.pry %>