<h1>Smoothies#top</h1>
<p>Find me in app/views/smoothies/top.html.erb</p>
<% if user_signed_in? %>
  <p>ようこそ、<%= current_user.name %> 様</p>
<% else %>
  <p>ようこそ、ゲスト様</p>
<% end %>

<div class="message_notice">
<%= flash[:notice] %>
</div>

<p><%= link_to "登録ページ" ,new_user_registration_path %></p>
<p><%= link_to "ログインページ" ,new_user_session_path %></p>
<p><%= link_to "編集ページ" ,edit_user_path %></p>