<%= render 'layouts/header' %>

<div class="bg">
<div class="container">
<%= render 'layouts/loginstatus' %>


<div class="card card-body text-center" style="width: 18rem;">
  <div class="card-body">
  	<h5 class="card-title"><%= @food.food_name %></h5>

  	<p class="card-text my-2">
  		<% if @food.image.attached? %>
	  		<%= image_tag @food.image %></p>
	  	<% else %>
	  		<%= image_tag '/images/no_image.jpg' %>
	  	<% end %>
	</p>
  	<div class="mx-auto text-center">
		<%= link_to "編集する", edit_food_path ,class: "btn btn-warning" %>
	</div>
  </div><!-- card-body -->
</div><!-- card -->

<p>栄養成分</p>
<p>単位:1<%= @food.unit %></p>
<p>可食部:<%= @food.gram %>g
	(<%= @food.liter %>ml)</p>
<p>たんぱく質:<%= @food.protein %>mg</p>
<p>カルシウム:<%= @food.calcium %>mg</p></p>
<p>カリウム:<%= @food.kalium %>mg</p></p>
<p>マグネシウム:<%= @food.magnesium %>mg</p></p>
<p>ビタミンC:<%= @food.vitaminc %>mg</p></p>
<p>kcal:<%= @food.kcal %>mg</p>

</div><!-- container -->
</div><!-- bg -->